.body {
	width: 100%;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.user-game-info {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.user-game-header {
	display: flex;
}

.user-game-header h2 {
	margin-right: 2em;
}

.user-game-content {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 3em;
}

.user-game-bio {
	width: 50%;
	text-align: left;
}

.platform-items {
	display: flex;
	flex-direction: row;
	gap: 3em;
}

.platform-item {
	list-style: none;
}

.review-item {
	list-style: none;
}

.review-header {
	display: flex;
	flex-direction: row;
	gap: 3em;
}

.review-text {
	text-align: left;
}

.game-reviews {
	display: flex;
	flex-direction: column;
}

.game-reviews h3 {
	text-align: left;
}

.user-img {
	width: 90px;
	height: 120px;
	grid-row: 2;
	grid-column: 1;
}

.user-games {
	display: flex;
	flex-direction: column;
}

.swiper-button-prev,
.swiper-button-next {
	color: black !important;
	background: none !important;
	border: none !important;
	align-items: start !important;
}

.user-games-header {
	display: flex;
	justify-content: left;
}

.game-cards {
	display: flex;
	flex-direction: row;
	gap: 2em;
}

.game-card {
	list-style: none;
	width: 100px;
}

.game-card-img {
	width: 90px;
	height: 120px;
}
