@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");
@import "tailwindcss";

/*------------ COLOR THEME SETTINGS ------------- */

/*Grey theme*/
/* @theme {
  --color-primary: #121212;
  --color-secondary: #8f8f8f;
  --color-tertiary: #d2d2d2;
  --color-online: #50d210;
} */

/* Yellow Theme */
@theme {
  --color-primary: #121212;
  --color-secondary: #c59113;
  --color-tertiary: #d2d2d2;
  --color-online: #50d210;
}

/* Theme for MUI elements*/
/* Unfortunately this has to be set separately, very annoying*/
:root {
  --app-primary: #121212;
  --app-secondary: #c59113;
  --app-tertiary: #d2d2d2;
}

/* Theme for MUI elements*/
/* Unfortunately this has to be set separately, very annoying*/
:root {
  --app-primary: #121212;
  --app-secondary: #c59113;
  --app-tertiary: #d2d2d2;
}

/*Blue Theme*/
/* @theme {
  --color-primary: #121212;
  --color-secondary: #2f00d8;
  --color-tertiary: #d2d2d2;
  --color-online: #50d210;
} */

/* Brighter Primary Theme */
/* @theme {
  --color-primary: #484848;
  --color-secondary: #c59113;
  --color-tertiary: #d2d2d2;
  --color-online: #50d210;
} */

@layer base {
  button {
    cursor: pointer;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  a {
    text-decoration-line: underline;
  }
}

@keyframes driftReverse {
  0% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(120px, -80px) scale(1.3) rotate(45deg);
  }
  50% {
    transform: translate(40px, -280px) scale(1.6) rotate(90deg);
  }
  75% {
    transform: translate(-100px, -100px) scale(1.3) rotate(135deg);
  }
  100% {
    transform: translate(0, 0) scale(1) rotate(180deg);
  }
}

@keyframes drift {
  0% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(-120px, 80px) scale(1.15) rotate(-45deg);
  }
  50% {
    transform: translate(-240px, 280px) scale(1.3) rotate(-90deg);
  }
  75% {
    transform: translate(100px, 100px) scale(1.15) rotate(-135deg);
  }
  100% {
    transform: translate(0, 0) scale(1) rotate(-180deg);
  }
}

/* Custom ScrollBar settings for Chrome / Edge / Safari*/
.custom-scrollbar::-webkit-scrollbar {
  height: 14px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--color-tertiary);
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 9999px;
  border: 2px solid var(--color-tertiary);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}
